{% extends 'base.html.twig' %}

{% block title %}- Home -{% endblock %}

{% block body %}

<div>
    <div class="header-wrap">
        <header>
            <a href="{{ path('app_public') }}" class="logo">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" class="lazy" width="64" data-src="{{ asset('images/logo_title.png') }}" alt="logo">
                <span class="logo-text">
                    <span>TransCar</span>
                    <span>Bus Services</span>
                </span>
            </a>
        </header>
    </div>
    <div class="main-slider-wrap">
        <div style="padding: 80px 0"
             data-slick='{
                 "arrows": false,
                 "fade": true,
                 "speed": 500
             }'>
            <div class="tt-slide">
                <div class="container">
                    <div class="row">
                        <div class="py-4" style="background-color: white">
                            <div class="form-popup-inside mfp-inside row">
                                <h3 class="text-center">Rechargez-vous</h3>
                                {% include 'public/partials/_alerts.html.twig' %}
                                <div style="display: flex; align-items: center; justify-content: space-between">
                                    <p class="mt-4 mb-2">
                                        {% if paying != true %}
                                        <b style="margin-right: 20px;">
                                            <span style="font-size: 1.5rem">{{ step }}</span>/2
                                        </b>
                                        <span class="text-primary">{{ step == 1 ? 'Type de recharge' : (step == 2 ? 'Details' : '') }}</span>
                                        {% else %}
                                        Encours de paiement...
                                        {% endif %}
                                    </p>
                                    <form method="post" onsubmit="return confirm('Etes-vous sur de vouloir abandonner ?')">
                                        <input type="hidden" name="cancel" value="1">
                                        <button class="close" type="submit" aria-label="Close" data-dismiss="modal">
                                            <svg class="icon icon-close" width="20" height="21" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.04297 10.1921L0.195312 19.0398C0.0651042 19.157 0 19.3002 0 19.4695C0 19.6518 0.0651042 19.8015 0.195312 19.9187C0.260417 19.9838 0.325521 20.0294 0.390625 20.0554C0.46875 20.0945 0.553385 20.114 0.644531 20.114C0.722656 20.114 0.800781 20.0945 0.878906 20.0554C0.957031 20.0294 1.02214 19.9838 1.07422 19.9187L10 11.0125L18.9258 19.9187C18.9779 19.9838 19.043 20.0294 19.1211 20.0554C19.1992 20.0945 19.2773 20.114 19.3555 20.114C19.4466 20.114 19.5312 20.0945 19.6094 20.0554C19.6875 20.0294 19.7526 19.9838 19.8047 19.9187C19.9349 19.8015 20 19.6518 20 19.4695C20 19.3002 19.9349 19.157 19.8047 19.0398L10.957 10.1921L19.8242 1.32495C19.9414 1.20776 20 1.06453 20 0.895264C20 0.712972 19.9414 0.556722 19.8242 0.426514C19.694 0.309326 19.5378 0.250732 19.3555 0.250732C19.1862 0.250732 19.043 0.309326 18.9258 0.426514L10 9.35229L1.07422 0.426514C0.957031 0.309326 0.807292 0.250732 0.625 0.250732C0.455729 0.250732 0.30599 0.309326 0.175781 0.426514C0.0585938 0.556722 0 0.712972 0 0.895264C0 1.06453 0.0585938 1.20776 0.175781 1.32495L9.04297 10.1921Z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                                <hr>
                                {% if paying %}
                                    <form method="post">
                                        <input type="hidden" name="paymentId" value="{{ paymentId }}">
                                        <input type="hidden" name="finish" value="1">
                                        <div class="p-4" style="display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center">
                                            <img src="{{ asset('images/loading.gif') }}" alt="loading" width="50">
                                            <h5 class="mt-4"> Paiememnt en cours, Veuillez continuer avec votre telephone</h5>
                                            <p style="max-width: 500px; margin: auto">Une fois le processus de paiement termine sur votre telephone, veuillez cliquer sur le bouton terminer.</p>
                                            <button type="submit" class="btn mt-4" style="color: white">Terminer</button>
                                        </div>
                                    </form>
                                {% else %}
                                {% if step == 1 %}
                                    <form method="post">
                                        <div class="col-md-6 p-0">
                                            <input class="form-control" type="text" name="card" id="card" value="" placeholder="Numero de la carte" required>
                                        </div>
                                        <p class="mt-2">Quel type de recharge voulez-vous faire ?</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="type" id="type_fixe" value="FIXE" checked>
                                            <label class="form-check-label" for="type_fixe">
                                                <i class="fa-solid fa-bus-simple"></i><span class="ml-2">Recharge fixe</span>
                                            </label>
                                        </div>
                                        <div class="form-check mt-3">
                                            <input class="form-check-input" type="radio" name="type" id="type_subs" value="SUBSCRIPTION">
                                            <label class="form-check-label" for="type_subs">
                                                <i class="fa-solid fa-link"></i><span class="ml-2">Abonnement</span>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn mt-4" style="color: white">Suivant</button>
                                    </form>
                                {% else %}
                                    {% if step == 2 and card is not null %}
                                        <form method="post" class="row">
                                        <div class="col-md-6">
                                            <div style="border-radius: 10px; border: 1px solid #eee; padding: 20px" class="mb-4">
                                                <p class="mb-0" style="display: flex; justify-content: space-between"><span>Noms</span><b class="text-primary">{{ card.cardHolder }}</b></p>
                                                <p class="mb-0" style="display: flex; justify-content: space-between"><span>Num. carte</span><b class="text-primary">#{{ card.uid }}</b></p>
                                                <p style="display: flex; justify-content: space-between" class="mb-0 "><span>Type</span> <b>{{ type }}</b></p>
                                            </div>
                                            {% if subs is not null %}
                                                <p class="mb-3"><b>Quel abonnement voulez-vous payer ?</b></p>
                                                {% if subs is empty %}
                                                    <div class="alert alert-info">Aucun plan d'abonnement disponible</div>
                                                {% else %}
                                                        <div style="border: 1px solid #eee; padding: 20px; border-radius: 10px;">
                                                        {% for sub in subs %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="subscription" id="sub_{{ sub.id }}" value="{{ sub.id }}">
                                                            <label class="form-check-label" for="sub_{{ sub.id }}">
                                                                <b class="ml-2">{{ sub.title }}</b>
                                                            </label>
                                                            <p class="mb-1"><i class="fa-solid fa-bars"></i><span class="ml-2">{{ sub.description }}</span></p>
                                                            <p class="mb-2">{{ sub.duration }} Jours</p>
                                                            <p class="text-primary mb-2"><b>{{ sub.amount }} {{ sub.currency != null ? sub.currency.code : currency.code }}</b></p>
                                                        </div>
                                                        {% endfor %}
                                                        </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            {% if type != "SUBSCRIPTION" %}
                                            <label for="amount">Combien voulez-vous payer</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">{{ currency.code }}</span>
                                                </div>
                                                <input type="text" class="form-control" name="amount" id="amount" aria-label="Amount ({{ currency.code }})">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                            {% endif %}

                                            <label for="phoneNumber">Numero mobile money</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">+243</span>
                                                </div>
                                                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" aria-label="Numero mobile money">
                                            </div>
                                            <p>
                                                <i class="fa-regular fa-credit-card"></i>
                                                <a href="https://cardpayment.flexpay.cd/v1.1/pay" target="_blank">
                                                    <span class="mr-2 ml-2">Payer avec une carte de credit</span>
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                </a>
                                            </p>
                                            <button type="submit" class="btn mt-4" style="color: white">Confirmer</button>
                                        </div>
                                        </form>
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
